::selection {
	background-color: transparent;
}
.ad-header-wrapper,
.site-wrapper div:first-child {
	-webkit-app-region: drag;
#notify {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	width: 360px;
	padding: 10px;
	border-radius: 5px;
	border-top-right-radius: 0;
	background: #333;
	color: white;
	font-family: monospace;
	font-weight: bold;
	line-height: 1;
}
.DEBUG #notify {
	display: block;
}