::selection {
	background-color: transparent;
}
input::selection,
textarea::selection {
	background-color: #643e9b57;
}
div[class^="Warnings__Container"],
div[class^="Header__"] {
	-webkit-app-region: drag;
}
a,
input,
textarea,
select,
button,
img,
svg {
	-webkit-app-region: no-drag !important;
}
div[class^="Header__HeaderSection"] { /* Mixcloud Logo */
	padding-left: 60px !important;
}
div[class^="Header__HeaderSection"] a:focus-visible { /* Electron focuses the first link, and Mixcloud shows an ugly outline */
	outline: 0;
}

/* Temp Fix */
span[class^="PlayButton__PlayButtonIcon"] { /* Play button - moving up */
	line-height: 1;
}