::selection {
	background-color: transparent;
}
html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	background: #333;
}
webview {
	width: 100%;
	height: 100%;
	background: #FFF;
}
body.DEBUG #hud {
	display: block !important;
}
body.DEBUG webview {
	height: calc(100% - 18px);
}
#hud {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
    display: grid;
    grid-gap: 10px;
	grid-template-columns: auto 100px;
	margin: 0;
	padding: 5px 0;
	background: rgba(100, 100, 100, .5);
	text-align: right;
	transition: background .5s;
	pointer-events: none;
	-webkit-app-region: drag;
}
#hud:hover {
	background: rgba(100, 100, 100, .75);
}
#hud p {
	margin: 0;
	padding: 0;
}
#info {
	display: none;
	grid-column: 1 / 2;
	grid-row: 1;
	font-size: x-small;
	font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#info .label {
	display: none;
}
#info #title {
	font-weight: bold;
}
#info #link {
	opacity: .75
}
#controls {
	grid-column: 2;
	grid-row: 1 / 2;
	padding: 0;
}
#controls p {
	display: inline;
}
#controls a {
	display: inline-block;
	/* width: 20px;
	height: 20px; */
	margin: 0;
	padding: 5px 2px 0 0;
	/* overflow: hidden; */
	/* border: 3px solid #333;
	border-radius: 20px;
	background: #FFF;
	box-shadow: 0 2px 4px #333; */
	text-decoration: none;
	color: #333;
	line-height: 1;
	opacity: .6;
	cursor: pointer;
}
#controls a:hover {
	opacity: .9;
}
#controls #play {
	display: none;
}
#controls #pause {
	display: inline-block;
}
#controls.play #play {
	display: inline-block;
}
#controls.play #pause {
	display: none;
}